label{
    display:block;
    padding: 10px;
}
form{
    text-align: center;
    background-color: aqua;
    margin:0px 500px 0px 500px;
}
h1{
    text-align: center;
}
#submit
{
    padding :10px;
}
input[type=submit]{
    background-color: blueviolet;
}
input[type=submit]:hover{
    background-color: blanchedalmond;
}